.gridContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}

.greytext {
    color: grey;
}

.grcontainer {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}